.interactive-image {
  /*margin: auto;*/

  width: 100%;
  height: 700px;
  background-size: cover;
  border: none;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Vasily_Surikov_-_%D0%91%D0%BE%D1%8F%D1%80%D1%8B%D0%BD%D1%8F_%D0%9C%D0%BE%D1%80%D0%BE%D0%B7%D0%BE%D0%B2%D0%B0_-_Google_Art_Project.jpg');
  /*height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

 /* The sidepanel menu */
.sidepanel {
  height: 640px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  opacity: 0.85;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  opacity: 1;
}

.sidepanel p {
  padding: 8px 25px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  opacity: 1;
}

.sidepanel img {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  width: 85%;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
  opacity: 1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  opacity: 0.85;
}

.openbtn:hover {
  background-color: #444;
} 